[Unit]
Description=Run linuxdo-v2ex-checkin daily

[Timer]
OnCalendar=*-*-* 00:10:00
Persistent=true
RandomizedDelaySec=10m
Unit=linuxdo-v2ex-checkin.service

[Install]
WantedBy=timers.target
